<main>
	<a routerLink="" routerLinkActive="active" class="home-button"><span class="fa fa-home"></span></a>
	<h1 class="mb-5">Portfolio</h1>
	<div class="mb-5">
			<ul class="portfolio-list">
				<li>
						<a href="https://www.anoos.com/">
							<img src="../assets/img/img_1.png" alt="">
							<div class="text">
								<h3>Anoos</h3>
								<span>anoos.com</span>
							</div>
						</a>
				</li>
				<li>
						<a href="http://otmbrew.co/">
							<img src="../assets/img/img_2.png" alt="">
							<div class="text">
								<h3>Over The Moon Brew co.</h3>
								<span>otmbrew.co</span>
							</div>
						</a>
				</li>
				<li>
						<a href="https://www.potens.in/">
							<img src="../assets/img/img_3.png" alt="">
							<div class="text">
								<h3>Potens Fitness</h3>
								<span>potens.in</span>
							</div>
					</a>
				</li>
			</ul>
	</div>
</main>