<main>
  <h1 class="mb-0"  (click)="removeSlide()">Hi, I'm Anand Gupta</h1>
  <div class="mb-5">
    <p class="lead mb-3">Web Designer &amp; Developer</p>
    <p>Graduated in Bachelor of Engineering in “Information Technology”. Having a 3.5+ years of industrial experience in banking and pharma domain, out of which 2.5+ years of    experience in IT industry as front end web developer. Currently looking for a great horizon to pursue career in a company where my skills can be leveraged in better       way and can provide me opportunity to grow professionally and personally.
    </p>
    <p>I have a good ability to quickly analyze project requirements and coming up with a good and expected solution. I am very good at interpersonal relations, work ethic       and result oriented practices as an individual or as a team.
    </p>
  </div>

  <div>
    <a href="https://twitter.com/anandgupta143" target="_blank" class="mr-2 mb-2">Twitter</a>
    <a href="https://www.facebook.com/anandgupta91" target="_blank" class="mr-2 mb-2">Facebook</a>
    <a href="https://www.instagram.com/anandgupta_official/" target="_blank" class="mr-2 mb-2">Instagram</a>
    <a href="https://www.linkedin.com/in/anandgupta14/" target="_blank" class="mr-2 mb-2">LinkedIn</a>
  </div>
</main>