<main>
  <a routerLink="" routerLinkActive="active" class="home-button"><span class="fa fa-home"></span></a>
  <h1 class="mb-5">Experience</h1>
  <div class="mb-5">
  <ul class="resume-list">
    <li>
        <h3>Sr. Associate Developer, Tech Mahindra. Hyderabad, Telangana</h3>
        <p class="date">May 2018 – Present</p>
        <p> • Design, develop and edit client’s various medical products landing pages.
          •	Analyze business requirements to determine on technical requirements.
          •	Creating Veeva CRM interactive HTML presentations touching Salesforce API’s
          •	Enhancing or adding features in client’s web applications.
         </p>
    </li>
    <li>
        <h3>UI Developer, Think Tankers Innovative Solutions Private Limited. Hyderabad, Telangana</h3>
        <p class="date">Oct 2016 – Apr 2018</p>
       <p> • As individual contributor frontend developer, I was responsible to deliver end to end web site for our various clients.
          •	I was responsible to design, develop and maintain web sites using my technical skills in HTML5, CSS, Bootstrap, jQuery, and AngularJS, content creation tools, management tools, and digital media.
          •	Doing searchable engine optimization for client web page portal.
        </p>
    </li>

    <li>
        <h3>Relationship Officer (Trainee), IndusInd Bank Limited. Mumbai</h3>
        <p class="date">May 2015 – May 2016</p>
        <p> • Responsible for lead generation for Current Account and Saving Account – CASA to new customer and deepening of account balances for the existing customer.
          •	Responsible for sales of third-party product (Life Insurance – LI, General Insurance – GI, Mutual Funds – MF, Debit/Credit Cards, etc. to the existing customer base.
        </p>
    </li>
  </ul>
  </div>
  <h1 class="mb-5">Education</h1>
  <div class="mb-5">
      <ul class="resume-list">
        <li>
      <h3>CIT, Rajnandgaon, Chhattisgarh</h3>
      <p class="date">Jun. 2014</p>
      <p>Bachelor of Engineering, Information technology</p>
        </li>
      </ul>
  </div>
</main>